html, body {
    background: #fff;
    color: #000;
}

html, body, h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif; 
}

html, body, h4, h5, h6, div, p, ul, li, input {
    font-family: Georgia, serif; 
    margin-bottom: 0.2em;
}

a, a:link, a.visited { 
    color: #3366cc;
    text-decoration: none;
} 

a:hover {
    text-decoration: underline;
}

#logo {
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 0.3em;
}

.navigation {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
    padding: 0.3em;
}

.mainbody, .item {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 3em;
    margin-right: 3em;
}

.mainbody p {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.mainbody pre {
    background-color: #eeeeee;
    font-size: small;
    font-family: Courier New, Courier, Andale Mono;
    color:#000;
}

.item {
    clear: both;
    margin: 1em;
}

dfn {
    font-weight: bold;
    font-style: normal;
}

li {
    padding: 0.3em;
}

.floatsourcebox, .sourcebox, code {
    background-color:#eeeeee;
    font-family: Courier New, Courier, Andale Mono;
    color:#000;
}

.floatsourcebox, .sourcebox {
    border:1px solid #dddddd;
    white-space: pre;
}

.floatsourcebox {
    float: left;
    width: 60%;
}

.copyright {
    font-size: 70%;
    text-align:center;
}

.line {
    clear: both;
    margin: 1em;
    border:1px solid #999;
}

th {
    font-weight: bold;
}

td.filename, th.filename {
    width: 40%;
}

td.comment, th.comment {
    width: 50%;
}

pre {
    margin-left: 1%;
    margin-right: 1%;
}

.description {
    margin-top: 1em;
    width: 60%;
    float: left;
}

#main {
    position: absolute;
    margin-left: 5px;
    margin-right: 5px;
}

.menu {
    padding: 1ex;
    margin: 0%;
}

.menu ul{
    margin-left: 0;
    padding-left: 0.5em;
}
    
.menu li ul {
    padding: 0;
    margin:  0;
}

.menu li {
    cursor: pointer;
    list-style-type: none;
    margin: 5px 0 ;
    padding: 0;
}

.sidebar {
    position: absolute;
    left: 0;
    padding: 0; 
    margin: 0 0 0 5px;
}

.sidebar h4, h5, h6 {
    padding-left: 0.2em; 
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.maintext {
    text-align: left;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 12em;
    margin-right: 9em;
}
